# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyxbldc

dist/
sdist/
*.egg-info
*.eggs
venv

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.coverage.*
.pytest_cache/

# Sphinx documentation
doc/_build/
doc/auto_examples/
doc/modules/
doc/api
