# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyxbldc

# Version info for PyPI
thepipe/version.txt

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.coverage.*

# Sphinx documentation
doc/_build/
doc/auto_examples/
doc/modules/
doc/api

# VI swap files
*.swp
*.swo

# PyCharm files
.idea

# jupyter files
.ipynb_checkpoints/

# 
junit*.xml
reports

# Editor backup files
*~

.pytest_cache/

# Mac
.DS_Store

# venv, pyenv
.python-version
venv

# misc
.provenance_*
