sudo: false

language: python

python:
  - "3.5"
  - "3.5-dev"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"

install:
  - pip install -Ur requirements.txt
  - make install-dev

script:
  - make test-cov

after_success:
  - codecov
